<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Upland Pest Control</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
</head>
<body ng-app="uplandPestControl" ng-controller="appCtrl">
    <div class="diamond">
        <div>Upland Pest</div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" style="margin-right: 30px;" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Upland Pest Control", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#Home">Home</a></li>
                    <li><a href="#Benefits">Benefits</a></li>
                    <li><a href="#About">About</a></li>
                    <li><a href="#FAQ">FAQ</a></li>
                    <li><a href="#Services">Services</a></li>
                    <li><a href="#Contact">Contact</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="Home" class="main-header bg-img-3" style="height: calc(100vh); width: 100%; background-size: cover; background-position: center; z-index: 0">
        <div style="height: 100%; width: 100%; background: rgba(0,0,0,0.5)">
        </div>
    </div>
    <div style="width: 100%; z-index: 1; position: relative; top:0; background: inherit" class="body">
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Upland Pest Control</p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/siteJS")
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            var offset = $(".navbar").offset().top;
            function stickyNav() {
                if ($(window).width() > 1205 && $(window).scrollTop() > offset) {
                    $(".navbar").addClass("sticky");
                }
                else if ($(window).width() <= 1205) {
                    $(".navbar").addClass("sticky");
                }
                else {
                    $(".navbar").removeClass("sticky");
                }
            }
            stickyNav();
            $(window).on("scroll resize", function () {
                stickyNav();
            });
            
        });
    </script>
</body>
</html>
