<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Upland Pest Control</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
</head>
<body ng-app="uplandPestControl" ng-controller="appCtrl">
    <div class="free-estimate">
        @*<div style="width:220px; height:100px; margin:5% auto; background-color: rgba(255,255,255,0.7)">
            <br>
            <div class="ribbon-wrapper">
                <div class="glow">&nbsp;</div>
                <div class="ribbon-front">
                    Get Your Free Estimate!
                </div>
                <div class="ribbon-edge-topleft"></div>
                <div class="ribbon-edge-topright"></div>
                <div class="ribbon-edge-bottomleft"></div>
                <div class="ribbon-edge-bottomright"></div>
            </div>
        </div>*@
        <div class="ribbon" onclick="window.location='#Contact'">
            <div class="container">
                <div class="glow">&nbsp;</div>
                <div class="base">
                    <span class="free-estimates">Get A Free Estimate!</span>
                </div>
                <div class="left_corner"></div>
                <div class="right_corner"></div>
            </div>
        </div>
    </div>
    <div class="diamond">
        <div><img src="~/Content/Images/Logo_150_150.png" /></div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" style="margin-right: 30px;" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Upland Pest Control</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#Home">Home</a></li>
                    <li><a href="#Benefits">Benefits</a></li>
                    <li><a href="#About">About</a></li>
                    <li><a href="#Services">Services</a></li>
                    <li><a href="#FAQ">FAQ</a></li>
                    <li><a href="#Contact">Contact</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="Home" class="main-header bg-img-3" style="height: calc(100vh); width: 100%; background-size: cover; background-position: center; z-index: 0">
        <div style="height: 100%; width: 100%; background: rgba(0,0,0,0.5)">
        </div>
    </div>
    <div style="width: 100%; z-index: 2; position: relative; top:0; background: inherit" class="body">
        <div class="container body-content col-md-12">
            @RenderBody()
            <hr />
            <footer>
                @Html.Partial("_Contact")
                <p style="clear:both;">&copy; @DateTime.Now.Year - Upland Pest Control</p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/siteJS")
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            var offset = $(".navbar").offset().top;
            function stickyNav() {
                if ($(window).width() > 1205 && $(window).scrollTop() > offset) {
                    $(".navbar").addClass("sticky");
                }
                else if ($(window).width() <= 1205) {
                    $(".navbar").addClass("sticky");
                }
                else {
                    $(".navbar").removeClass("sticky");
                }
            }
            stickyNav();
            $(window).on("scroll resize", function () {
                stickyNav();
            });
            var inputs = function (element) {
                if (element.val() != "") {
                    element.parent().addClass("show-label");
                } else {
                    element.parent().removeClass("show-label");
                }
            }
            $.each($(".inline-label-input"), function () {
                inputs($(this));
            });
            $(".inline-label-input").on("input propertychange change", function () {
                inputs($(this));
            });
        });
    </script>
</body>
</html>
